// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content, html, body {
    height: 100%;
}
#filter {
		height: 100%;
	  width: 15%;
	  float: left;
    overflow: scroll;
}

#map {
        height: 100%;
        width: 50%;
        float: right
      }

#articles {
		height: 100%;
	  width: 35%;
	  float: left;
	  background-color: white;
    overflow: scroll;
}
.row
{
    padding-left:20px;
    margin-bottom: 10px;
}
.column
{
    min-height:10px;
    width:200px;
    float:left;
    margin-left:10px;
    margin-bottom: 30px;
}
