// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#filter {
		height: 100%;
	    width: 25%;
	    float: left;
}

#articles {
		height: 100%;
	    width: 75%;
	    float: right;
	    background-color: white;
}
